@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .aside{
        background: url(../assets/images/bg-sidebar-desktop.svg)no-repeat center/cover;
    }
    .aside-mobile{
        background: url(../assets/images/bg-sidebar-mobile.svg)no-repeat center/cover;
        padding: 40px 0;
    }
    .activee{
        background-color: #e2e8f0;
        color: #000 !important;
    }
}
@layer components{

}
@layer utilities{
    
}